.about-me-content {
    height: 50%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.593);
    color: azure;
    margin: auto auto;
    h3 {
      line-height: 1px;
      letter-spacing: 1px;
    }
    h5 {
      letter-spacing: 1px;
    }
}

.float-child .about-me-content {
    text-align: left;
  line-height: 1.5;
}

.float-child .education {
    text-align: left;
  line-height: 1.5;
}
.edu-degree {
  font-weight: bold;
  font-size: large;
  font-style: italic;
}
li{
    text-align: left;
}

.heading{
    margin: 60px;
    display: inline-block;
    font-family: "Abril Fatface", serif;
    font-size: 40px;
    font-weight: 900;
    font-style:normal;
}

.Resume {
  /* background-image: url('/public/galaxy.jpg'); */
  background-size: cover;
  color: antiquewhite;
}

.interests{
    background-color: transparent;
    text-align: left;
    border: 1px solid #ffffff1c;
    border-radius: 20px;
    margin: 3%;
    overflow: hidden;
}

.float-container {
    border: 3px solid #fff;
    border-radius: 20px;
    width: 70%;
    margin: 2% 15%;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.float-child {
    /* width: 90%; */
    padding: 5px;
    display: inline-block;
    /* border: 2px solid red; */
} 

.resumeBTN{
  text-align: center !important;
    margin: 2% 5% !important;
    width: 30%;
    background-image: radial-gradient(circle, #363a5a 0%, #000000 75%);
}
