.card-swap-container {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(10%, 20%); /* Move INTO the screen more */
  transform-origin: bottom left;
  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 40%;
  left: 50%; /* ← Centered stack anchor */
  transform: translateX(-50%); /* ← Needed for xPercent: -50 match in JS */
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(-25%, 25%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(-25%, 25%);
  }
}

.underline {
  border-bottom: 1px solid #fff !important;
}

.underline p {
  margin: 8px 0px 8px 25px !important;
}

.cricket-card-swap {
  background-size: cover;
  width: 90%;
  margin: 1% 5%;
  border-radius: 10%;
}

.interests-desc h2 {
  padding: 2% 0 0 30%;
  font-size: xx-large;
  font-weight: 900;
  color: antiquewhite;
}

.interests-desc p {
  padding: 0 0 0 30%;
  font-weight: 400;
  color: rgba(171, 169, 166, 0.798);
}
